name: Build Flask App Container

on: workflow_dispatch
jobs:
  publish-flask-app-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with: 
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the Flask App Container
        run: |
          docker build . --tag ghcr.io/supracore/flask-app:latest
          docker run ghcr.io/supracore/flask-app:latest
          docker push ghcr.io/supracore/flask-app:latest
